body {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box; 
}

div.carousel-inner {
    max-height: 400px;
}

#topo{
    width: 100%;
    height: 100%;
    padding: 20px;
}

#topo img{
    width: 21%;
    height: 21%;
}

#teste {
    background-color: transparent;
    border: none;
    color: #6e6e6e;
    font-weight: bold;
    margin: 0;
    padding: 15px 20px 5px 20px;
}

#teste:hover {
    color: #6abb51;
    border-bottom: 2px solid #6abb51;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ul.dropdown-menu {
    padding: 0;
}

a.dropdown-item {
    font-size: 13px;
    padding: 15px;
}

footer {
    position: absolute;
    background-color: green;
    width: 100%;
    margin: 0;
    margin-top: 3%;
}

div#op {
    display: inline-block;
    width: 33.30%;
    height: 100%;
    float: left;
}
/*
div#op img{
    width: 245px;
    height: 80px;
    margin-top: 22%;
    margin-left: 22%;
}
*/
div#op img{
    width: 45%;
    height: 27%%;
    margin-top: 22%;
    margin-left: 22%;
}

div#op1 {
    display: inline-block;
    width: 33.30%;
    height: 100%;
    float: left;
}

div#op2 {
    display: inline-block;
    width: 33.30%;
    height: 100%;
}
/*
div#op2 img{
    width: 270px;
    height: 100px;
    margin-top: 21%;
    margin-left: 22%;
}
*/
div#op2 img{
    width: 45%;
    height: 27%%;
    margin-top: 21%;
    margin-left: 22%;
}

div#opt{
    margin-top: 15%;
}

div#base-link a {
    text-decoration: none;
}

div#base-link h6{
    padding: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;
}

div#base-link1 h6{
    padding: 10px;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
}

button.accordion-button {
    background-color: #f4f3f3;
    margin-bottom: 0.2%;
    border-radius: 10px;
    color: #4a8a45;
}

button#btns {
    color:black;
    background-color: transparent;
    border-color: #4a8a45;
    color: #4a8a45;
    border-radius: 10px;
    border-width: 2px;
    font-size: 150%;
    margin: 1.5%;
  }

  button#btns:hover {
    background-color: #4a8a45;
    color:white;
  }

button.accordion-button h5 {
    width: 100%;
    text-align: center;
}

div.accordion-body {
    padding: 5%;
}

div.card-body {
    padding: 9%;
}

h5.card-title{
    margin-bottom: 12%;
}

div#titulo h3{
    color: #4a8a45;
    margin-bottom: 2%;
}

div#titulo{
    border-bottom: 3px solid #6abb51;
    
}

div.card-body a{
    text-decoration: none;
    color: rgb(114, 201, 109);
    font-weight: bold;
    font-size: 75%;
}

div.card {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

div.card:hover {
    box-shadow: 0 0 13px rgba(0,0,0,0.6);
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (min-width: 901px) {
    footer{
        height: 33%;
    }
    div#sistema {
        margin: 1% 20% 0 20%;
    }
    div.row {
        margin: 1% 20% 0 20%;
    }
    div#pages {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 3% 0 0 0;
    }
    div#titulo{
        margin: 6% 20% 0 20%;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 900px) {
    footer{
        height: 25%;
    }
    button#btns {
        font-size: 70%;
    }
    div.row {
        margin: 3% 1% 3% 1%;
    }
    div#titulo{
        margin: 6% 2% 0 2%;
    }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    h6{
        font-size: 10px;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    h6{
        font-size: 12px;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    h6{
        font-size: 14px;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    h6{
        font-size: 9px;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    h6{
        font-size: 7px;
    }
}