body {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box; 
}

/* Logo Governo / FEMARH - TOPO */

#topo img{
    width: 93.8%;
    height: 21%;
}

/* Menu Suspenso */

#teste {
    background-color: transparent;
    border: none;
    color: #6e6e6e;
    font-weight: bold;
    margin: 0;
    padding: 15px 20px 5px 20px;
}

#teste:hover {
    color: #6abb51;
    border-bottom: 2px solid #6abb51;
}

ul.dropdown-menu {
    padding: 0;
}

.dropdown:hover>.dropdown-menu{
    display: block;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}

a.dropdown-item {
    font-size: 13px;
    padding: 15px;
}

/* Centro */

div.row {
    margin: 0 1% 0 1%;
}

div.card-body{
  background-color: #f7f7f7;
  padding: 8%;
}

div.card-body h5{
  margin-bottom: 9%;
  font-weight: bold;
}

div.card-body P, h5{
  text-align: center;
}

div.card-body button{
  margin: 3% 0 0 33%;
}

div.card-body2{
  background-color: #f7f7f7;
  padding: 8% 3% 8% 3%;
}

div.card-body2 h5{
  margin-bottom: 9%;
  font-weight: bold;
}

div.card-body2 P, h5{
  text-align: center;
}

div.card-body2 button{
  margin: 3% 0 0 37%;
}

div.tab-content {
    min-height: 500px;
}

button.nav-link {
    color: green;
}

.tab-content .tab-pane{ border:solid 1px #d3d3d3;  border-top: 0; padding-bottom: 2%  }

#nav-profile {
    padding: 2%;
}

button.accordion-button {
    border: solid 0.1px #d3d3d3;
}

div.accordion-body a{
    margin-bottom: 2%;
}

/* Base */

footer {
    position: absolute;
    background-color: green;
    width: 100%;
    margin: 0;
    margin-top: 5%;
}

div#op {
    display: inline-block;
    width: 33.30%;
    height: 100%;
    float: left;
}

div#op img{
    width: 45%;
    height: 26%;
    margin-top: 22%;
    margin-left: 22%;
}

div#op1 {
    display: inline-block;
    width: 33.30%;
    height: 100%;
    float: left;
}

div#op2 {
    display: inline-block;
    width: 33.30%;
    height: 100%;
}

div#op2 img{
    width: 45%;
    height: 34%;
    margin-top: 22%;
    margin-left: 22%;
}

div#base-linkGroup{
    margin: 7% 0 0 0;
}

div#base-link a {
    text-decoration: none;
}

div#base-link h6{
    padding: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;
}

div#base-link1 h2{
    padding: 10px;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
}


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (min-width: 901px) {

    /* Logo Governo / FEMARH + Menu Suspenso - TOPO */

    div.d-print-none{
        display: inline-block;
        width: 100%;
    }

    /* Logo Governo / FEMARH - TOPO */

    #topo{
        max-width: 24%;
        height: 100%;
        padding: 20px;
        float: left;
    }

    /* Menu Suspenso */

    .container {
        float: left;
        width: auto;
    }

    .dropdown-menu .dropdown-submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -1.5px;
    }
    
    .dropdown-menu .dropdown-submenu-left {
        right: 100%;
        left: auto;
    }

    /* Centro */

    div#centro {
        margin: 1% 20% 0 20%;
    }

    /* Organograma */

    div#organograma {
        margin: 1% 20% 0 20%;
    }

    /* Base */

    footer{
        height: 33%;
    }

}

@media only screen and (min-width: 901px ) and (max-width: 1700px ){

    /* Menu Suspenso */

    #teste {
        font-size: 90%;
    }

    /* Centro */

    div#centro {
        margin: 1% 15% 0 15%;
    }

    /* Organograma */

    div#organograma {
        margin: 1% 15% 0 15%;
    }

    /* Base */

    footer{
        height: 38%;
    }

    div#base-link h6{
        font-size: 85%;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 900px) {

    /* Logo Governo / FEMARH - TOPO */

    #topo{
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    #topo img{
        width: 50%;
        height: 50%;
    }

    /* Menu Suspenso */

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    ul.navbar-nav {
        min-width: 300px;
    }

    #teste {
        font-size: 12px;
    }

    a.dropdown-item {
        font-size: 12px;
    }

    /* Centro */

    div#centro {
        margin: 2% 4% 0 4%;
    }

    div.nav button{
        font-size: 12px;
    }

    button.accordion-button {
        font-size: 50%;
    }

    div.accordion-body {
        font-size: 80%;
    }

    /* Organograma */

    div#organograma {
        margin: 1% 2% 0 2%;
    }

    button.accordion-button {
        font-size: 55%;
    }

    div.accordion-body {
        font-size: 80%;
    }

    /* Base */

    footer{
        height: 25%;
    }

    div#base-link1 h2 {
      font-size: 75%;
    }

    div#base-link h6{
        font-size: 50%;
    }

    div#op img{
        width: 53%;
        height: 15%;
        margin-top: 25%;
    }
    
    div#op2 img{
        width: 55%;
        height: 20%;
    }

}
